layer_b/__pycache__/*
*.pyc
*.onnx
layer_b/modules/models/
.asouncrc
.asoundrc
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.lesshst
.local/
.profile
.ssh/
.sudo_as_admin_successful
backup/
layer_b/data/
log.log
picar-x/
radioplaybackfix.patch
robot-hat/
vilib/
*.patch
